/* .shoppingCart-button {
  height: 10px;
  width: 14px;
}

.shopping-cart-img {
  font-size: 12px;
  background-image: 'https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-V3-1x_optimized._CB483188077_.png'
} */

.shopping-cart-link-container {
  width: 20%;
  display: inline-block;
}