header {
  text-align: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-size: 22px;
  padding: 10px;
  color: rgba(4, 26, 3, 0.801);
  font-weight: bold;
  border-bottom: lightgray 1px solid;
}

.continue-shopping-link, .back-to-cart {
  text-decoration: none;
  color: rgba(4, 26, 3, 0.801);

}

.back-to-cart {
  float: right;
  margin-right: 10px;
}

.continue-shopping-link {
  margin-left: 10px;
}