ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;

}

.item-img {
  /* display: inline-block; */
  /* height: 200px; */
  width: 100%;
  /* margin-left: 10%; */
}

.item {
  width: 100%;
  padding: 20px;
}

li {
  /* display: inline-block; */
}

.item-name {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding-left: 30px;
  font-size: 1.5vw;
}

.item-price {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding-top: 60px;
  padding-left: 30px;
  font-size: 1.3vw;
}

.item-buttons {
  display: inline-block;
  position: absolute;
  padding-left: 30px;
  margin-top: 90px;
}

h1 {
  display: inline-block;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 25px;
}

.add-to-wishlist-button {
  border-radius: 8px;
}

.add-to-cart-button {
  border-radius: 8px;
}

.add-to-cart-button:hover {
  background: navy;
  color: white;
  border-radius: 8px;
}

.add-to-wishlist-button:hover {
  background: navy;
  color: white;
  border-radius: 8px;
}