.title-anchor {
  text-decoration: none;
  color: black;
}

.cart-details {
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 22px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.total-price {
  float: right;
  text-align: left;
}
